*{
  margin: 0;
  padding: 0;
}

header{
  background-color: black;
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  justify-content: space-between;
  color: white;
  font-family: 'Rubik Mono One', sans-serif;
}

